:root {
    --black: #000;
    --white: #fff;
    --btn-hov-foc: #188ce8;
    --blue: #2196f3;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --main-background-color: #fff;
    --secondary-background-color: #2f303a;
    --third-background-color: #f5f4fa;
  
    --main-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;
  } 